<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <title>User Page</title>
</head>
<body>
<div align="center">
  <h2> Welcome to the User Control Panel</h2>
  <p>
    Your username is: <b>[[${#request.userPrincipal.principal.username}]]</b>
  </p>
  <div style="float : left; width: 50%;" align="center">
    <a th:href="@{/contact}" class="btn btn-secondary" style="width:40%" method="post">Email</a>
    <br/>
    <br/>
    <a href="#" class="btn btn-light" style="width:40%"> Navigation</a>
  </div>
  <div style="float : right; width: 50%;" align="center">
    <a th:href="@{/upload}" class="btn btn-success" style="width:40%" method="post">Upload</a>
    <br/>
    <br/>
    <a href="#" class="btn btn-warning" style="width:40%"> logout</a>
  </div>
  <form th:action="@{/user/logout}" method="post">
    <input type="submit" value="logout" class="btn btn-primary">
  </form>
</div>

</body>
</html>