<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <title>Select Files</title>
</head>
<body>
<div align="center"table table-bordered>
<form th:action="@{/upload/db}" enctype="multipart/form-data" method="post" >
  <label class="custom-uploader" for="file">Upload Your File</label>
  <input id="file" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps,application/vnd.openxmlformats-" name="file" type="file" />
  <button class="btn btn-success" name="submit" type="submit"> Upload File </button>
</form>

</div>
</body>
</html>